<footer class="footer">
    <div class="top">
        <%- partial('plugins/site-visit') %>
        <p>
            <% if ((config.feed) && (config.feed.path.length)) { %>
                <span><a href="<%- url_for(config.feed.path) %>" target="_blank" class="rss" title="rss"><i class="icon icon-rss"></i></a></span>
            <% } %>
            <span>
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license" title="License">
                    <i class="icon icon-cc"></i>
                </a>
            </span>
            <span>
                <a href="https://www.travis-ci.org/zhouie/zhouie.github.io" rel="license" title="Travis CI" target="_blank">
                    <i class="icon icon-cloud-upload"></i>
                </a>
            </span>
            <span>
                <a href="https://github.com/zhouie/zhouie.github.io" rel="license" title="Github" target="_blank">
                    <i class="icon icon-github"></i>
                </a>
            </span>
            <span>
                <a href="http://weibo.com/u/5736541528" rel="license" title="Weibo" target="_blank">
                    <i class="icon icon-weibo"></i>
                </a>
            </span>
            <span>
                <a href="https://plus.google.com/110700564157953759206" title="Google+" target="_blank">
                    <i class="icon icon-google-plus"></i>
                </a>
            </span>
            <span>
                <a href="http://www.linkedin.com/in/zhouie/" title="Linkedin" target="_blank">
                    <i class="icon icon-linkedin"></i>
                </a>
            </span>
            <span>
                <a href="https://www.paypal.me/zhouie" rel="license" title="PayPal.me" target="_blank">
                    <i class="icon icon-paypal"></i>
                </a>
            </span>
            <span>
                <a href="https://500px.com/nanzhouie" rel="license" title="500px" target="_blank">
                    <i class="icon icon-500px"></i>
                </a>
            </span>
        </p>
    </div>
    <div class="bottom">
        <p><span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span>
            <span>
                <% if(theme.ICP_license) {%>
                <a href="http://www.miitbeian.gov.cn/" target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
                Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/yscoder/hexo-theme-indigo" target="_blank">indigo</a>
            </span>
        </p>
    </div>
</footer>

<script type="text/javascript" src="//p7n85i5tr.bkt.clouddn.com/zhouie/file/js/zhouie.js"></script>
