<footer class="footer">
    <div class="top">
        <%- partial('plugins/site-visit') %>
        <p>
            <% if ((config.feed) && (config.feed.path.length)) { %>
                <span>
                    <a href="<%- url_for(config.feed.path) %>" target="_blank" class="rss" title="rss" rel="external nofollow">
                        <i class="icon icon-rss"></i>
                    </a>
                </span>
            <% } %>
            <span>
                <a href="http://weibo.com/u/5736541528" rel="external nofollow" title="Weibo" target="_blank">
                    <i class="icon icon-weibo"></i>
                </a>
            </span>
            <span>
                <a href="https://github.com/zhouie/zhouie.github.io" rel="external nofollow" title="Github" target="_blank" >
                    <i class="icon icon-github"></i>
                </a>
            </span>
            <span>
                <a href="http://www.linkedin.com/in/zhouie/" rel="external nofollow" title="LinkedIn" target="_blank">
                    <i class="icon icon-linkedin"></i>
                </a>
            </span>
            <span>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="external nofollow" title="License" target="_blank">
                    <i class="icon icon-cc"></i>
                </a>
            </span>
        </p>
    </div>
    <div class="bottom">
        <p>
            <span>
                Copyright &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%> <%- date(new Date(), 'YYYY') %> · Powered by <a href="http://hexo.io/" target="_blank" rel="external nofollow">Hexo</a> Theme <a href="https://github.com/yscoder/hexo-theme-indigo" target="_blank" rel="external nofollow">indigo</a><br>

                <% if(theme.ICP_license) {%>
                <a href="http://www.miitbeian.gov.cn/" target="_blank"><%- theme.ICP_license %></a>
                <% } %>
                
                <% if(theme.beian_gov) {%>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%= theme.beian_gov %>"><img src="http://zhouie.oss-cn-beijing.aliyuncs.com/zhouie/file/img/1.png" /> ·  湘公网安备 <%= theme.beian_gov %>号</a>
                <% } %>

                <% if(theme.cnzz_id) {%>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_<%- theme.cnzz_id %>'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D<%- theme.cnzz_id %>%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>
                <% } %>
            </span>
        </p>
    </div>
</footer>