<%
    // 使用 sns 直接分享接口
    // 微信使用 qrcode helper 或 http://goqr.me/api/ 生成二维码
    var sUrl = url.replace(/index\.html$/, '')
    var sTitle = page.title ? '《'+ page.title +'》 — ' + config.title : config.title
    var sDesc = truncate(strip_html(page.excerpt || config.description), { length: 80})
    var sPic = page.photos && page.photos.length ? page.photos[0]
        : (/^(http:|https:)?\/\//.test(theme.avatar) ? theme.avatar
            : config.url.replace(/\/$/, '') + theme.avatar)
%>

<div class="<%- scope %>-share" id="<%- scope %>Share">
    <ul class="reset share-icons">
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=<%-sUrl%>&title=<%-sTitle%>&pic=<%-sPic%>" data-title="微博">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=<%-sUrl%>&title=<%-sTitle%>&source=<%-sDesc%>" data-title="QQ">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      
      <li>
        <a class="qzone share-sns" target="_blank" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%-sUrl%>&sharesource=qzone&title=<%-sTitle%>&pics=<%-sPic%>&summary=<%-sDesc%>" data-title="QQ空间">
          <img src="https://i.loli.net/2019/02/22/5c6f9b85dd061.png"/>
        </a>
      </li>
      <li>
        <a class="renren share-sns" target="_blank" href="http://widget.renren.com/dialog/share?resourceUrl=<%-sUrl%>&srcUrl=<%-sUrl%>&title=<%-sTitle%>&pic=<%-sPic%>&description=<%-sDesc%>" data-title="人人网">
          <img src="https://i.loli.net/2019/02/22/5c6f9b99b5872.png"/>
        </a>
      </li>
      <li>
        <a class="youdao share-sns" target="_blank" href="http://note.youdao.com/signIn/index.html?&callback=http://note.youdao.com/memory/?url=<%-sUrl%>&title=<%-sTitle%>&sumary=<%-sDesc%>&pic=<%-sPic%>&product=北岛向南" data-title="有道云笔记">
          <img src="https://i.loli.net/2019/02/22/5c6f9baf388fb.png"/>
        </a>
      </li>
      <li>
        <a class="douban share-sns" target="_blank" href="https://www.douban.com/share/service?name=<%-sTitle%>&href=<%-sUrl%>&utm_content=note&utm_medium=reader_share&utm_source=douban&image=<%-sPic%>&updated=&bm=1&url==<%-sUrl%>&utm_content=note&utm_medium=reader_share&utm_source=douban&title=<%-sTitle%>&sel=&v=1" data-title="豆瓣">
          <img src="https://i.loli.net/2019/02/22/5c6f9b1605408.png"/>
        </a>
      </li>

      <li>
        <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%-sUrl%>" data-title=" Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=<%-sTitle%>&url=<%-sUrl%>&via=<%-config.url%>" data-title=" Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=<%-sUrl%>" data-title=" Google+">
          <i class="icon icon-google-plus"></i>
        </a>
      </li>
    </ul>
 </div>

<% if(scope === 'global') { %>
<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <p>扫一扫，分享到微信</p>
    <img src="<%- 'qrcode' in locals ? qrcode(sUrl) : '//api.qrserver.com/v1/create-qr-code/?data=' + sUrl  %>" alt="微信分享二维码">
</div>
<% } %>
